# Ensemble Learning

## Initial Imports

In [38]:
import warnings
warnings.filterwarnings('ignore')

In [39]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [40]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [41]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [42]:
# added cell. Perform an integer encoding of the text columns
encoded_df = pd.get_dummies(df, columns=["home_ownership", "verification_status", "issue_d", "pymnt_plan", "initial_list_status", "next_pymnt_d", "application_type", "hardship_flag", "debt_settlement_flag"])
encoded_df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,0,1,0,1,1,0,1,1

## Split the Data into Training and Testing

In [43]:
# Create our features
X = encoded_df.drop(columns="loan_status")
# Create our target
y = encoded_df["loan_status"]

In [44]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [45]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [46]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(51612, 95)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [47]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [48]:
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [49]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [50]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [51]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf_model = RandomForestClassifier(n_estimators=200, random_state=1)
brf_model = brf_model.fit(X_train_scaled, y_train)
predictions = brf_model.predict(X_test_scaled)

In [52]:
# Calculated the balanced accuracy score
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.995931415286254

In [55]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["High Risk", "Low Risk"]
)
display(cm_df)

          High Risk  Low Risk
Actual 0         28        59
Actual 1         11     17107

In [73]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.72      0.32      1.00      0.44      0.57      0.30        87
   low_risk       1.00      1.00      0.32      1.00      0.57      0.34     17118

avg / total       1.00      1.00      0.33      1.00      0.57      0.34     17205

In [76]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.0798280676039, 'total_rec_prncp'),
 (0.06899382016481591, 'total_pymnt'),
 (0.06814197086987278, 'total_pymnt_inv'),
 (0.06779016391531421, 'total_rec_int'),
 (0.06209415099047169, 'last_pymnt_amnt'),
 (0.02144729054309352, 'out_prncp_inv'),
 (0.02024926135751527, 'out_prncp'),
 (0.02022813499992843, 'installment'),
 (0.016531688025311762, 'mo_sin_old_rev_tl_op'),
 (0.01625275211662193, 'dti'),
 (0.01484006925878561, 'max_bal_bc'),
 (0.014823188815811803, 'mo_sin_old_il_acct'),
 (0.01466293382163491, 'total_rec_late_fee'),
 (0.014345656216085256, 'total_bal_ex_mort'),
 (0.014139926771576909, 'loan_amnt'),
 (0.01385797221054045, 'revol_bal'),
 (0.013704890528799717, 'annual_inc'),
 (0.013581669442959491, 'bc_open_to_buy'),
 (0.013573841797161893, 'bc_util'),
 (0.013206714814834946, 'avg_cur_bal'),
 (0.01267350770493947, 'total_acc'),
 (0.012582907233672109, 'int_rate'),
 (0.012563703523256026, 'total_il_high_credit_limit'),
 (0.012529566060625275, 'tot_cur_bal'),
 (0.012440986893650932, 'tot_hi_cred_lim'),
 (0.012391602575437088, 'il_util'),
 (0.012117524727490375, 'mths_since_rcnt_il'),
 (0.012104829258757282, 'total_rev_hi_lim'),
 (0.012028673563473391, 'total_bc_limit'),
 (0.011503588151647728, 'total_bal_il'),
 (0.010347034443046686, 'all_util'),
 (0.010100623169139013, 'num_il_tl'),
 (0.010003514542711166, 'mo_sin_rcnt_rev_tl_op'),
 (0.009888827459687876, 'num_sats'),
 (0.009476059611374307, 'mths_since_recent_inq'),
 (0.009435362266346845, 'mths_since_recent_bc'),
 (0.009260634551584152, 'num_rev_accts'),
 (0.008974760012780953, 'num_rev_tl_bal_gt_0'),
 (0.008763894825047464, 'issue_d_Mar-2019'),
 (0.008670418351169645, 'open_acc'),
 (0.008534288658316218, 'num_actv_bc_tl'),
 (0.008523852911993545, 'total_cu_tl'),
 (0.008463328195765393, 'mo_sin_rcnt_tl'),
 (0.008153709950431721, 'num_actv_rev_tl'),
 (0.008093054347670783, 'num_op_rev_tl'),
 (0.007712444390397588, 'acc_open_past_24mths'),
 (0.007652976580260932, 'inq_last_12m'),
 (0.007426966713305287, 'open_rv_24m'),
 (0.007348641708730473, 'num_bc_tl'),
 (0.007312306339057075, 'pct_tl_nvr_dlq'),
 (0.007245801211223131, 'open_il_24m'),
 (0.006827430356511115, 'open_acc_6m'),
 (0.006681541823853904, 'mort_acc'),
 (0.0063946406314923845, 'open_act_il'),
 (0.006320560021748768, 'num_bc_sats'),
 (0.006266652918859684, 'inq_fi'),
 (0.005893825962791937, 'num_tl_op_past_12m'),
 (0.005804790769086676, 'percent_bc_gt_75'),
 (0.005448484590689567, 'issue_d_Jan-2019'),
 (0.00505826429157058, 'inq_last_6mths'),
 (0.004784245510517508, 'open_rv_12m'),
 (0.004383259933596993, 'open_il_12m'),
 (0.004196373192734194, 'issue_d_Feb-2019'),
 (0.004132901618385835, 'tot_coll_amt'),
 (0.004052250434404153, 'next_pymnt_d_May-2019'),
 (0.003972565405333571, 'delinq_2yrs'),
 (0.003953354324558282, 'num_accts_ever_120_pd'),
 (0.003584343723692921, 'next_pymnt_d_Apr-2019'),
 (0.002296600157147238, 'pub_rec'),
 (0.002294531014076341, 'verification_status_Verified'),
 (0.002292533054792187, 'pub_rec_bankruptcies'),
 (0.0020012426428835436, 'home_ownership_OWN'),
 (0.0019575124138489605, 'verification_status_Not Verified'),
 (0.0018526834058960654, 'verification_status_Source Verified'),
 (0.0015345735554325598, 'num_tl_90g_dpd_24m'),
 (0.0015314935255733573, 'application_type_Joint App'),
 (0.0015305987213495023, 'home_ownership_MORTGAGE'),
 (0.0014997823690446712, 'home_ownership_RENT'),
 (0.0014909421882822313, 'initial_list_status_w'),
 (0.0012974083002909784, 'application_type_Individual'),
 (0.0012919149635528021, 'collections_12_mths_ex_med'),
 (0.0011713255900145862, 'initial_list_status_f'),
 (0.0011265272382466685, 'home_ownership_ANY'),
 (0.0004552911517137088, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [60]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=200, random_state=1)
eec = eec.fit(X_train_scaled, y_train)

In [63]:
# Calculated the balanced accuracy score
y_predict_eec = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_predict_eec)
eec_acc_score = accuracy_score(y_test, y_predict_eec)
print(f"Accuracy Score : {eec_acc_score}")

Accuracy Score : 0.9442603894216798

In [64]:
# Display the confusion matrix
confusion_matrix(y_test, y_predict_eec)

array([[   80,     7],
       [  952, 16166]], dtype=int64)

In [65]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_predict_eec))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.08      0.92      0.94      0.14      0.93      0.87        87
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17118

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.

In [77]:
#1) the Random Forest model had the higher balanced accuracy score at 99.6%, however
# it should be noted that the model was very accurate in identifying low risk loans
# but not accurate in identifying the more costly high risk loans.

#2) The Easy Ensemble Classifier model has the stronger recall score averaging 94%. 
#The recall for this model was much high in measuring high risk loans.

#3) The EEC model had a geometric mean of 93% compared to the much lower GMS of 57%
# for the random forest model. 

#4) Not surprisingly, the top 3 features were related to loan payments. "total_rec_prncp",
# "total_pymt", and "total_pymnt_inv" were the highest rated features from the data set.